<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>300696660269-pgh00m1drn33hlpqkuumi3mb6thpaobd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.300696660269-pgh00m1drn33hlpqkuumi3mb6thpaobd</string>
	<key>API_KEY</key>
	<string>AIzaSyDOILEa2AVPUZ4gjmDZgR1wRyFkVrg0MkY</string>
	<key>GCM_SENDER_ID</key>
	<string>300696660269</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fcm.apns.com.fcmApns</string>
	<key>PROJECT_ID</key>
	<string>fcmapns-dd63b</string>
	<key>STORAGE_BUCKET</key>
	<string>fcmapns-dd63b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300696660269:ios:39a3e893b7000846324ba4</string>
</dict>
</plist>